<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Affinity::top_level" module="Affinity_Catalogue" resource="Magento_Backend::content" sortOrder="9999" title="Affinity"/>
		<add action="affinity_catalogue/catalogue/index" id="Affinity_Catalogue::affinity_catalogue_catalogue" module="Affinity_Catalogue" parent="Affinity::top_level" resource="Magento_Backend::content" sortOrder="9999" title="Catalogue"/>
		<add action="affinity_catalogue/cataloguecatagory/index" id="Affinity_Catalogue::affinity_catalogue_cataloguecatagory" module="Affinity_Catalogue" parent="Affinity::top_level" resource="Magento_Backend::content" sortOrder="9999" title="Cataloguecatagory"/>
	</menu>
</config>
