<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="affinity_catalogue" id="affinity_catalogue">
			<module before="Magento_Backend" name="Affinity_Catalogue"/>
		</route>
	</router>
</config>
